<h1 mat-dialog-title>Add new user</h1>
<div mat-dialog-content>
  <div class="name-container">
    <mat-form-field appearance="outline" class="mr-16">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]="user.name" matInput placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input [(ngModel)]="user.firstName" matInput placeholder="Name" />
    </mat-form-field>
  </div>

  <div class="inputs-column">
    <mat-form-field color="accent" appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker1" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input [(ngModel)]="user.mail" matInput placeholder="E-Mail" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input [(ngModel)]="user.phone" matInput placeholder="Phone" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Street + House No.</mat-label>
      <input
        [(ngModel)]="user.street"
        matInput
        placeholder="Street + House No."
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ZIP Code</mat-label>
      <input [(ngModel)]="user.zipCode" matInput placeholder="ZIP Code" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [(ngModel)]="user.city" matInput placeholder="City" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveUser()">Save</button>
  </div>
</div>
