<mat-drawer-container class="sidenav" autosize>
  <mat-drawer #drawer class="content" mode="side">
    <div class="logo__container">
      <h1>Logo Platzhalter</h1>
    </div>
    <ul class="sidebar__menu">
      <li routerLink=""><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="users"><mat-icon>account_box</mat-icon>Users</li>
    </ul>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
